<h1> TOP 5 Glamorous Cocktails that you should try ! </h1>

<p> <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary"  %>

<ul>
   <% @cocktails.each do |cocktail|  %>
   <li>
    <h2> <%= link_to cocktail.name, cocktail_path(cocktail) %> </h2>
    <%= link_to "Remove cocktail", cocktail_path(cocktail), method: :delete %>
    <% end %>
    </li>
<p> </p>
</ul>
