
 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.thespruceeats.com/thmb/p5a8R8k3UcmnflyaMDGeaTUKkiw=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Cohen-manhattan-5a8f33e70e23d900371231bc-5af9f8bb30371300376b9445.jpg');">
      <div class="banner-content">
        <h1>The best glamorous cocktails</h1>
        <p> </p>

      </div>
</div>



<div class="container">
  <div class="row">

         <% @cocktails.each do |cocktail|  %>

          <div class="col-xs-12 col-sm-4">
          <h2> <%= link_to cocktail.name, cocktail_path(cocktail) %> </h2>
          <%= link_to "Remove cocktail", cocktail_path(cocktail), method: :delete, data:{confirm: "Are you sure?"} %>
          </div>
          <% end %>

      <p> </p>


  </div>
</div>
