<p> <div class= "col-xs-6  col-sm-3"> </p>
<%= simple_form_for [@cocktail, @dose] do |f|  %>
<p> <%= f.input :description %> </p>
<p> <%= f.association :ingredient, collection: @ingredients %> </p>
<p> <%= f.submit "Confirm" %> </p>
<% end %>


